[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-contrib-python = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"

[requires]
python_version = "3.6"
